In [1]:
#Dependencies

import pandas as pd
import os
import numpy as np

In [2]:
#Assigning path
csv_path_ce = os.path.join("Resources", "ce_00_csv", "conjunto_de_datos", "ce_00_valor.csv")

df = pd.read_csv(csv_path_ce)

df.head()

,cve_entidad,desc_entidad,cve_municipio,desc_municipio,id_indicador,indicador,año,valor,unidad_medida
0,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,5000000001,Total de establecimientos. Universo total,1998,3900619,Establecimientos
1,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,5000000001,Total de establecimientos. Universo total,2003,4290108,Establecimientos
2,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,5000000001,Total de establecimientos. Universo total,2008,5144056,Establecimientos
3,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,5000000001,Total de establecimientos. Universo total,2019,6373169,Establecimientos
4,0,Estados Unidos Mexicanos,0,Estados Unidos Mexicanos,5000000002,Personal ocupado. Universo total,1998,18334829,Número de personas

In [3]:
#Indicator_names

indicator_names = df["indicador"].unique()
indicator_names

array(['Total de establecimientos. Universo total',
       'Personal ocupado. Universo total',
       'Unidades económicas. Sector privado y paraestatal',
       'Unidades económicas. Gran sector 43-46. Comercio',
       'Unidades económicas. Gran sector 51 ,53 ,54 ,55, 56, 61, 62, 71, 72 y 81. Servicios privados no financieros',
       'Unidades económicas. Sector 11. Pesca y acuicultura',
       'Unidades económicas. Sector 21. Minería',
       'Unidades económicas. Sector 22. Electricidad, agua y gas',
       'Unidades económicas. Sector 23. Construcción',
       'Unidades económicas. Sector 31-33. Industrias manufactureras',
       'Unidades económicas. Sector 48-49. Transportes',
       'Unidades económicas. Sector 52. Servicios financieros y de seguros',
       'Personal ocupado total.',
       'Personal ocupado total. Gran sector 43-46. Comercio.',
       'Personal ocupado total. Gran sector 51 ,53 ,54 ,55, 56, 61, 62, 71, 72 y 81. Servicios privados no financieros.',
       'Personal ocupado total. Sector 11. Pesca y acuicultura.',
       'Personal ocupado total. Sector 21. Minería.',
       'Personal ocupado total. Sector 22. Agua y gas.',
       'Personal ocupado total. Sector 23. Construcción.',
       'Personal ocupado total. Sector 31-33. Industrias manufactureras.',
       'Personal ocupado total. Sector 48-49. Transportes.',
       'Personal ocupado total. Sector 52. Servicios financieros y de seguros.',
       'Total remuneraciones. Sector privado y paraestatal',
       'Total remuneraciones. Gran sector 43-46. Comercio',
       'Total remuneraciones. Gran sector 51 ,53 ,54 ,55, 56, 61, 62, 71, 72 y 81. Servicios privados no financieros',
       'Total remuneraciones. Sector 11. Pesca y acuicultura',
       'Total remuneraciones. Sector 21. Minería',
       'Total remuneraciones. Sector 22. Electricidad, agua y gas',
       'Total remuneraciones. Sector 23. Construcción',
       'Total remuneraciones. Sector 31-33. Industrias manufactureras',
       'Total remuneraciones. Sector 48-49. Transportes',
       'Total remuneraciones. Sector 52. Servicios financieros y de seguros',
       'Producción bruta total. Sector privado y paraestatal',
       'Producción bruta total. Gran sector 51 ,53 ,54 ,55, 56, 61, 62, 71, 72 y 81. Servicios privados no financieros',
       'Producción bruta total. Sector 11. Pesca y acuicultura',
       'Producción bruta total. Sector 21. Minería',
       'Producción bruta total. Sector 22. Electricidad, agua y gas',
       'Producción bruta total. Sector 23. Construcción',
       'Producción bruta total. Sector 31-33. Industrias manufactureras',
       'Producción bruta total. Sector 48-49. Transportes',
       'Producción bruta total. Sector 52. Servicios financieros y de seguros',
       'Acervo total de activos fijos. Sector privado y paraestatal',
       'Acervo total de activos fijos. Gran sector 51 ,53 ,54 ,55, 56, 61, 62, 71, 72 y 81. Servicios privados no financieros',
       'Acervo total de activos fijos. Sector 11. Pesca y acuicultura',
       'Acervo total de activos fijos. Sector 21. Minería',
       'Acervo total de activos fijos. Sector 22. Electricidad, agua y gas',
       'Acervo total de activos fijos. Sector 23. Construcción',
       'Acervo total de activos fijos. Sector 31-33. Industrias manufactureras',
       'Acervo total de activos fijos. Sector 48-49. Transportes',
       'Acervo total de activos fijos. Sector 52. Servicios financieros y de seguros',
       'Total de ingresos por suministro de bienes y servicios. Sector privado y paraestatal',
       'Total de ingresos por suministro de bienes y servicios. Gran sector 43-46. Comercio',
       'Total de ingresos por suministro de bienes y servicios. Gran sector 51 ,53 ,54 ,55, 56, 61, 62, 71, 72 y 81. Servicios privados no financieros',
       'Total de ingresos por suministro de bienes y servicios. Sector 11. Pesca y acuicultura',
       'Total de ingresos por suministro de bienes y servicios. Sector 21. Minería',
       'Total de ingresos por suministro de bienes y servicios. Sector 22. Electricidad, agua y gas',
       'Total de ingresos por suministro de bienes y servicios. Sector 23. Construcción',
       'Total de ingresos por suministro de bienes y servicios. Sector 31-33. Industrias manufactureras',
       'Total de ingresos por suministro de bienes y servicios. Sector 48-49. Transportes',
       'Total de ingresos por suministro de bienes y servicios. Sector 52. Servicios financieros y de seguros',
       'Total de gastos por consumo de bienes y servicios. Sector privado y paraestatal',
       'Total de gastos por consumo de bienes y servicios. Gran sector 43-46. Comercio',
       'Total de gastos por consumo de bienes y servicios. Gran sector 51 ,53 ,54 ,55, 56, 61, 62, 71, 72 y 81. Servicios privados no financieros',
       'Total de gastos por consumo de bienes y servicios. Sector 11. Pesca y acuicultura',
       'Total de gastos por consumo de bienes y servicios. Sector 21. Minería',
       'Total de gastos por consumo de bienes y servicios. Sector 22. Electricidad, agua y gas',
       'Total de gastos por consumo de bienes y servicios. Sector 23. Construcción',
       'Total de gastos por consumo de bienes y servicios. Sector 31-33. Industrias manufactureras',
       'Total de gastos por consumo de bienes y servicios. Sector 48-49. Transportes',
       'Total de gastos por consumo de bienes y servicios. Sector 52. Servicios financieros y de seguros',
       'Unidades económicas. Sector 46. Comercio al por menor',
       'Unidades económicas. Sector 43. Comercio al por mayor',
       'Unidades económicas. Resto de las actividades. Sectores 11, 22, 23, 48-49, 52',
       'Personal ocupado total. Sector 46. Comercio al por menor',
       'Personal ocupado total. Sector 43. Comercio al por mayor',
       'Personal ocupado total. Resto de las actividades. Sectores 11, 22, 23, 48-49, 52',
       'Total remuneraciones. Resto de las actividades. Sectores 11, 22, 23, 48-49, 52',
       'Total remuneraciones. Sector 43. Comercio al por mayor',
       'Total remuneraciones. Sector 46. Comercio al por menor',
       'Total de gastos por consumo de bienes y servicios. Sector 43. Comercio al por mayor',
       'Total de gastos por consumo de bienes y servicios. Resto de las actividades. Sectores 11, 22, 23, 48-49, 52',
       'Total de gastos por consumo de bienes y servicios. Sector 46. Comercio al por menor',
       'Total de ingresos por suministro de bienes y servicios. Sector 46. Comercio al por menor',
       'Total de ingresos por suministro de bienes y servicios. Resto de las actividades. Sectores 11, 22, 23, 48-49, 52',
       'Total de ingresos por suministro de bienes y servicios. Sector 43. Comercio al por mayor',
       'Estructura porcentual de personal ocupado. Hombres. Universo total',
       'Estructura porcentual de personal ocupado. Mujeres . Universo total',
       'Total de establecimientos que inició operaciones antes del año censal. Zona Urbana. Universo total',
       'Total de establecimientos\xa0en Zona Urbana. Asociaciones religiosas. Universo total',
       'Total de establecimientos\xa0en Zona Urbana. Servicios públicos. Universo total',
       'Total de establecimientos que inició operaciones en el año censal. Universo total',
       'Personal ocupado que inició operaciones en el año censal. Universo total',
       'Total de establecimientos de servicios públicos y asociaciones religiosas. Universo total',
       'Total de establecimientos\xa0en Zona Urbana. Sector privado y paraestatal. Universo total',
       'Personal ocupado que inició operaciones antes del año censal. Zona Rural. Universo total',
       'Personal ocupado en Zona Urbana. Servicios públicos. Universo total',
       'Personal ocupado que inició operaciones antes del año censal. Zona Urbana. Universo total',
       'Personal ocupado en Zona Urbana. Asociaciones religiosas. Universo total',
       'Personal ocupado de servicios públicos y asociaciones religiosas. Universo total',
       'Personal ocupado en Zona Urbana. Sector privado y paraestatal. Universo total',
       'Total de establecimientos que inició operaciones antes del año censal. Zona Rural. Universo total',
       'Total de establecimientos que inició operaciones antes del año censal. Universo total',
       'Personal ocupado que inició operaciones antes del año censal. Universo total',
       'Tasa de crecimiento de Total de gastos por consumo de bienes y servicios. Sector privado y paraestatal',
       'Acervo total de activos fijos. Sector 46. Comercio al por menor',
       'Producción bruta total. Sector 46. Comercio al por menor',
       'Tasa de crecimiento de Acervo total de activos fijos. Sector privado y paraestatal',
       'Acervo total de activos fijos. Sector 43. Comercio al por mayor',
       'Precios constantes 2019=100 de Total de ingresos por suministro de bienes y servicios. Sector privado y paraestatal',
       'Tasa de crecimiento de Personal ocupado total. Sector privado y paraestatal',
       'Precios constantes 2019=100 de Producción bruta total. Sector privado y paraestatal',
       'Tasa de crecimiento de Total de unidades economicas. Sector privado y paraestatal',
       'Tasa de crecimiento de Total remuneraciones. Sector privado y paraestatal',
       'Precios constantes 2019=100 de Total de gastos por consumo de bienes y servicios. Sector privado y paraestatal',
       'Producción bruta total. Sector 43. Comercio al por mayor',
       'Tasa de crecimiento de Total de ingresos por suministro de bienes y servicios. Sector privado y paraestatal',
       'Precios constantes 2019=100 de Total remuneraciones. Sector privado y paraestatal',
       'Precios constantes 2019=100 de Acervo total de activos fijos. Sector privado y paraestatal',
       'Tasa de crecimiento de Producción bruta total. Sector privado y paraestatal'],
      dtype=object)

In [4]:
df["id_indicador"].unique()

array([5000000001, 5000000002, 5300000001, 5300000002, 5300000003,
       5300000004, 5300000005, 5300000006, 5300000007, 5300000008,
       5300000009, 5300000010, 5300000011, 5300000012, 5300000013,
       5300000014, 5300000015, 5300000016, 5300000017, 5300000018,
       5300000019, 5300000020, 5300000021, 5300000022, 5300000023,
       5300000024, 5300000025, 5300000026, 5300000027, 5300000028,
       5300000029, 5300000030, 5300000031, 5300000033, 5300000034,
       5300000035, 5300000036, 5300000037, 5300000038, 5300000039,
       5300000040, 5300000041, 5300000043, 5300000044, 5300000045,
       5300000046, 5300000047, 5300000048, 5300000049, 5300000050,
       5300000091, 5300000092, 5300000093, 5300000094, 5300000095,
       5300000096, 5300000097, 5300000098, 5300000099, 5300000100,
       5300000101, 5300000102, 5300000103, 5300000104, 5300000105,
       5300000106, 5300000107, 5300000108, 5300000109, 5300000110,
       6207128098, 6207128124, 6207128131, 6207128136, 6207128151,
       6207128161, 6207128212, 6207128246, 6207128262, 6207128274,
       6207128275, 6207128323, 6207128336, 6207128339, 6207128345,
       6207129061, 6207129062, 6207129130, 6207129131, 6207129132,
       6207129133, 6207129134, 6207129135, 6207129136, 6207129137,
       6207129138, 6207129139, 6207129140, 6207129141, 6207129142,
       6207129143, 6207129144, 6207129145, 6207129545, 6207129546,
       6207129547, 6207129548, 6207129549, 6207129550, 6207129551,
       6207129552, 6207129553, 6207129554, 6207129555, 6207129556,
       6207129557, 6207129558, 6207129559, 6207129560], dtype=int64)

In [5]:
df.dtypes

cve_entidad        int64
desc_entidad      object
cve_municipio      int64
desc_municipio    object
id_indicador       int64
indicador         object
año                int64
valor             object
unidad_medida     object
dtype: object

In [6]:
df["id_indicador"] = pd.to_numeric(df["id_indicador"])

In [7]:
df["id_indicador"].count()

344076

In [8]:
clean_df = df[df.id_indicador <= 6207128097]
clean2_df = clean_df[clean_df.id_indicador != 5300000041 & 5300000043 & 5300000044 & 5300000045 & 5300000046 & 5300000047 & 5300000048
& 5300000049 & 5300000050]
clean2_df["id_indicador"].count()

343466

In [9]:
df2 = clean2_df[(clean2_df["cve_entidad"]>0) & (clean2_df["cve_municipio"]==0) & (clean2_df["valor"]!="C")]
df2["valor"] = df2["valor"].astype(float)
state_df = df2.groupby(["cve_entidad","id_indicador"])
state_df.head()

C:\Users\lavg1\anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,cve_entidad,desc_entidad,cve_municipio,desc_municipio,id_indicador,indicador,año,valor,unidad_medida
384,1,Aguascalientes,0,Estatal,5000000001,Total de establecimientos. Universo total,1998,39990.000,Establecimientos
385,1,Aguascalientes,0,Estatal,5000000001,Total de establecimientos. Universo total,2003,43522.000,Establecimientos
386,1,Aguascalientes,0,Estatal,5000000001,Total de establecimientos. Universo total,2008,54186.000,Establecimientos
387,1,Aguascalientes,0,Estatal,5000000001,Total de establecimientos. Universo total,2019,67313.000,Establecimientos
388,1,Aguascalientes,0,Estatal,5000000002,Personal ocupado. Universo total,1998,226457.000,Número de personas
...,...,...,...,...,...,...,...,...,...
335581,32,Zacatecas,0,Estatal,5300000109,Total de gastos por consumo de bienes y servic...,2018,1211.166,Millones de pesos
335582,32,Zacatecas,0,Estatal,5300000110,Total de gastos por consumo de bienes y servic...,1998,56.648,Millones de pesos
335583,32,Zacatecas,0,Estatal,5300000110,Total de gastos por consumo de bienes y servic...,2003,67.566,Millones de pesos
335584,32,Zacatecas,0,Estatal,5300000110,Total de gastos por consumo de bienes y servic...,2008,61.825,Millones de pesos
335585,32,Zacatecas,0,Estatal,5300000110,Total de gastos por consumo de bienes y servic...,2018,588.375,Millones de pesos

In [10]:
indicador_df = df2.groupby(["id_indicador"])
indicador_df.head()

,cve_entidad,desc_entidad,cve_municipio,desc_municipio,id_indicador,indicador,año,valor,unidad_medida
384,1,Aguascalientes,0,Estatal,5000000001,Total de establecimientos. Universo total,1998,39990.000,Establecimientos
385,1,Aguascalientes,0,Estatal,5000000001,Total de establecimientos. Universo total,2003,43522.000,Establecimientos
386,1,Aguascalientes,0,Estatal,5000000001,Total de establecimientos. Universo total,2008,54186.000,Establecimientos
387,1,Aguascalientes,0,Estatal,5000000001,Total de establecimientos. Universo total,2019,67313.000,Establecimientos
388,1,Aguascalientes,0,Estatal,5000000002,Personal ocupado. Universo total,1998,226457.000,Número de personas
...,...,...,...,...,...,...,...,...,...
2712,2,Baja California,0,Estatal,5300000108,Total de gastos por consumo de bienes y servic...,1998,24369.050,Millones de pesos
2716,2,Baja California,0,Estatal,5300000109,Total de gastos por consumo de bienes y servic...,1998,1370.073,Millones de pesos
2720,2,Baja California,0,Estatal,5300000110,Total de gastos por consumo de bienes y servic...,1998,222.110,Millones de pesos
3747,3,Baja California Sur,0,Estatal,5300000006,"Unidades económicas. Sector 22. Electricidad, ...",2018,5.000,Unidades económicas
5063,4,Campeche,0,Estatal,5300000006,"Unidades económicas. Sector 22. Electricidad, ...",2018,11.000,Unidades económicas

In [11]:
indicador_df.agg({"valor": ["mean", "median","std","sem"]})

                      valor
                       mean       median            std           sem
id_indicador
5000000001    153968.257812  112241.0000  127293.700233  11251.279830
5000000002    822638.312500  595032.5000  791997.305651  70003.333188
5300000001    111986.851562   80496.5000  102187.581588   9032.191487
5300000002     50851.677083   35471.5000   47655.616774   4863.831020
5300000003     40281.281250   28202.0000   37209.489786   3288.885319
...                     ...          ...            ...           ...
5300000106      9502.434000    2138.5825   37208.444375   2325.527773
5300000107      6569.173836    3372.7640   10254.072287    906.340506
5300000108    113646.603617   51195.0710  168019.114479  14850.931902
5300000109      7540.580984    2293.9325   19099.486665   1688.172067
5300000110     19314.824758     329.6100  105703.353318   9342.944741

[70 rows x 4 columns]

In [12]:
state_df.agg({"valor": ["mean", "median","std","sem"]})

                                 valor                              \
                                  mean       median            std
cve_entidad id_indicador
1           5000000001     51252.75000   48854.0000   12290.234860
            5000000002    333729.75000  310688.0000  110849.712856
            5300000001     39664.75000   37309.0000   10541.498925
            5300000002     17148.00000   17038.0000    2224.041142
            5300000003     15861.25000   14376.0000    5944.959679
...                                ...          ...            ...
32          5300000106       560.58175     497.6890     425.027417
            5300000107      1612.97600    1785.7670    1195.943186
            5300000108     14165.39925   12362.1575   10733.672326
            5300000109       582.87125     407.2345     421.831450
            5300000110       193.60350      64.6955     263.218775


                                   sem
cve_entidad id_indicador
1           5000000001     6145.117430
            5000000002    55424.856428
            5300000001     5270.749462
            5300000002     1284.050752
            5300000003     2972.479839
...                                ...
32          5300000106      150.269884
            5300000107      597.971593
            5300000108     5366.836163
            5300000109      210.915725
            5300000110      131.609388

[2240 rows x 4 columns]

In [13]:
df2["indicador"] = df2["indicador"].str.rstrip(".")

C:\Users\lavg1\anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
df2["actividad"] = df2["indicador"].str.split(".").str[-1] 
df2["variable"] = df2["indicador"].str.split(".").str[0] 
df2 ["actividad"] = df2["actividad"].replace({" Agua y gas": " Electricidad, agua y gas"})
df2

C:\Users\lavg1\anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\lavg1\anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lavg1\anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,cve_entidad,desc_entidad,cve_municipio,desc_municipio,id_indicador,indicador,año,valor,unidad_medida,actividad,variable
384,1,Aguascalientes,0,Estatal,5000000001,Total de establecimientos. Universo total,1998,39990.000,Establecimientos,Universo total,Total de establecimientos
385,1,Aguascalientes,0,Estatal,5000000001,Total de establecimientos. Universo total,2003,43522.000,Establecimientos,Universo total,Total de establecimientos
386,1,Aguascalientes,0,Estatal,5000000001,Total de establecimientos. Universo total,2008,54186.000,Establecimientos,Universo total,Total de establecimientos
387,1,Aguascalientes,0,Estatal,5000000001,Total de establecimientos. Universo total,2019,67313.000,Establecimientos,Universo total,Total de establecimientos
388,1,Aguascalientes,0,Estatal,5000000002,Personal ocupado. Universo total,1998,226457.000,Número de personas,Universo total,Personal ocupado
...,...,...,...,...,...,...,...,...,...,...,...
335581,32,Zacatecas,0,Estatal,5300000109,Total de gastos por consumo de bienes y servic...,2018,1211.166,Millones de pesos,Transportes,Total de gastos por consumo de bienes y servicios
335582,32,Zacatecas,0,Estatal,5300000110,Total de gastos por consumo de bienes y servic...,1998,56.648,Millones de pesos,Servicios financieros y de seguros,Total de gastos por consumo de bienes y servicios
335583,32,Zacatecas,0,Estatal,5300000110,Total de gastos por consumo de bienes y servic...,2003,67.566,Millones de pesos,Servicios financieros y de seguros,Total de gastos por consumo de bienes y servicios
335584,32,Zacatecas,0,Estatal,5300000110,Total de gastos por consumo de bienes y servic...,2008,61.825,Millones de pesos,Servicios financieros y de seguros,Total de gastos por consumo de bienes y servicios
335585,32,Zacatecas,0,Estatal,5300000110,Total de gastos por consumo de bienes y servic...,2018,588.375,Millones de pesos,Servicios financieros y de seguros,Total de gastos por consumo de bienes y servicios

In [15]:
df2 = df2[df2.actividad != "Personal ocupado total"]
df2 = df2[df2.actividad != " Universo total"]

In [16]:
table = pd.pivot_table(df2,values="valor",index=["desc_entidad", "actividad"], columns="variable", aggfunc=np.sum)
table = table.drop(columns=["Acervo total de activos fijos","Producción bruta total"])
table

variable                                            Personal ocupado total  \
desc_entidad   actividad
Aguascalientes  Comercio                                          173132.0
                Construcción                                       41193.0
                Electricidad, agua y gas                            6539.0
                Industrias manufactureras                         347591.0
                Minería                                             4837.0
...                                                                    ...
Zacatecas       Pesca y acuicultura                                 1662.0
                Sector privado y paraestatal                           NaN
                Servicios financieros y de seguros                  3332.0
                Servicios privados no financieros                 206420.0
                Transportes                                        15141.0

variable                                            Total de gastos por consumo de bienes y servicios  \
desc_entidad   actividad
Aguascalientes  Comercio                                                                    95002.621
                Construcción                                                                11618.491
                Electricidad, agua y gas                                                     5007.404
                Industrias manufactureras                                                  347747.261
                Minería                                                                      3592.008
...                                                                                               ...
Zacatecas       Pesca y acuicultura                                                            39.607
                Sector privado y paraestatal                                               234378.364
                Servicios financieros y de seguros                                            774.414
                Servicios privados no financieros                                           14257.704
                Transportes                                                                  2331.485

variable                                            Total de ingresos por suministro de bienes y servicios  \
desc_entidad   actividad
Aguascalientes  Comercio                                                                   109348.601
                Construcción                                                                16868.325
                Electricidad, agua y gas                                                     8823.204
                Industrias manufactureras                                                  496072.949
                Minería                                                                      9140.682
...                                                                                               ...
Zacatecas       Pesca y acuicultura                                                            82.649
                Sector privado y paraestatal                                               358544.894
                Servicios financieros y de seguros                                           1395.014
                Servicios privados no financieros                                           27834.060
                Transportes                                                                  4293.939

variable                                            Total remuneraciones  \
desc_entidad   actividad
Aguascalientes  Comercio                                        4335.542
                Construcción                                    1862.153
                Electricidad, agua y gas                         627.807
                Industrias manufactureras                      36109.450
                Minería                                          447.333
...                                                                  ...
Zacatecas       Pesca y acuicultura                               18.670
                Sector privado y paraestatal                   26467.200
                Servicios financieros y de seguros               261.007
                Servicios privados no financieros               5229.695
                Transportes                                      782.912

variable                                            Unidades económicas
desc_entidad   actividad
Aguascalientes  Comercio                                        51444.0
                Construcción                                     1230.0
                Electricidad, agua y gas                           13.0
                Industrias manufactureras                       16802.0
                Minería                                            98.0
...                                                                 ...
Zacatecas       Pesca y acuicultura                               543.0
                Sector privado y paraestatal                   186282.0
                Servicios financieros y de seguros                633.0
                Servicios privados no financieros               67116.0
                Transportes                                      2084.0

[320 rows x 5 columns]

In [17]:
table["Utilidad"] = table["Total de ingresos por suministro de bienes y servicios"]-table["Total de gastos por consumo de bienes y servicios"]
table["Ingreso por unidad económica"] = table["Total de ingresos por suministro de bienes y servicios"]/table["Unidades económicas"]
table["Personal promedio por unidad económica"] = table["Personal ocupado total"]/table["Unidades económicas"]
table

variable                                            Personal ocupado total  \
desc_entidad   actividad
Aguascalientes  Comercio                                          173132.0
                Construcción                                       41193.0
                Electricidad, agua y gas                            6539.0
                Industrias manufactureras                         347591.0
                Minería                                             4837.0
...                                                                    ...
Zacatecas       Pesca y acuicultura                                 1662.0
                Sector privado y paraestatal                           NaN
                Servicios financieros y de seguros                  3332.0
                Servicios privados no financieros                 206420.0
                Transportes                                        15141.0

variable                                            Total de gastos por consumo de bienes y servicios  \
desc_entidad   actividad
Aguascalientes  Comercio                                                                    95002.621
                Construcción                                                                11618.491
                Electricidad, agua y gas                                                     5007.404
                Industrias manufactureras                                                  347747.261
                Minería                                                                      3592.008
...                                                                                               ...
Zacatecas       Pesca y acuicultura                                                            39.607
                Sector privado y paraestatal                                               234378.364
                Servicios financieros y de seguros                                            774.414
                Servicios privados no financieros                                           14257.704
                Transportes                                                                  2331.485

variable                                            Total de ingresos por suministro de bienes y servicios  \
desc_entidad   actividad
Aguascalientes  Comercio                                                                   109348.601
                Construcción                                                                16868.325
                Electricidad, agua y gas                                                     8823.204
                Industrias manufactureras                                                  496072.949
                Minería                                                                      9140.682
...                                                                                               ...
Zacatecas       Pesca y acuicultura                                                            82.649
                Sector privado y paraestatal                                               358544.894
                Servicios financieros y de seguros                                           1395.014
                Servicios privados no financieros                                           27834.060
                Transportes                                                                  4293.939

variable                                            Total remuneraciones  \
desc_entidad   actividad
Aguascalientes  Comercio                                        4335.542
                Construcción                                    1862.153
                Electricidad, agua y gas                         627.807
                Industrias manufactureras                      36109.450
                Minería                                          447.333
...                                                                  ...
Zacatecas       Pesca y acuicultura                               18.670
                Sector privado y paraestatal                   26467.200
                Servicios financieros y de seguros               261.007
                Servicios privados no financieros               5229.695
                Transportes                                      782.912

variable                                            Unidades económicas  \
desc_entidad   actividad
Aguascalientes  Comercio                                        51444.0
                Construcción                                     1230.0
                Electricidad, agua y gas                           13.0
                Industrias manufactureras                       16802.0
                Minería                                            98.0
...                                                                 ...
Zacatecas       Pesca y acuicultura                               543.0
                Sector privado y paraestatal                   186282.0
                Servicios financieros y de seguros                633.0
                Servicios privados no financieros               67116.0
                Transportes                                      2084.0

variable                                              Utilidad  \
desc_entidad   actividad
Aguascalientes  Comercio                             14345.980
                Construcción                          5249.834
                Electricidad, agua y gas              3815.800
                Industrias manufactureras           148325.688
                Minería                               5548.674
...                                                        ...
Zacatecas       Pesca y acuicultura                     43.042
                Sector privado y paraestatal        124166.530
                Servicios financieros y de seguros     620.600
                Servicios privados no financieros    13576.356
                Transportes                           1962.454

variable                                            Ingreso por unidad económica  \
desc_entidad   actividad
Aguascalientes  Comercio                                                2.125585
                Construcción                                           13.714085
                Electricidad, agua y gas                              678.708000
                Industrias manufactureras                              29.524637
                Minería                                                93.272265
...                                                                          ...
Zacatecas       Pesca y acuicultura                                     0.152208
                Sector privado y paraestatal                            1.924743
                Servicios financieros y de seguros                      2.203814
                Servicios privados no financieros                       0.414716
                Transportes                                             2.060431

variable                                            Personal promedio por unidad económica
desc_entidad   actividad
Aguascalientes  Comercio                                                          3.365446
                Construcción                                                     33.490244
                Electricidad, agua y gas                                        503.000000
                Industrias manufactureras                                        20.687478
                Minería                                                          49.357143
...                                                                                    ...
Zacatecas       Pesca y acuicultura                                               3.060773
                Sector privado y paraestatal                                           NaN
                Servicios financieros y de seguros                                5.263823
                Servicios privados no financieros                                 3.075571
                Transportes                                                       7.265355

[320 rows x 8 columns]

In [18]:
table = pd.pivot_table(df2,values="valor",index=["desc_entidad", "actividad", "año"], columns="variable")
table = table.drop(columns=["Acervo total de activos fijos","Producción bruta total"])
table["Utilidad"] = table["Total de ingresos por suministro de bienes y servicios"]-table["Total de gastos por consumo de bienes y servicios"]
table["Ingreso por unidad económica"] = table["Total de ingresos por suministro de bienes y servicios"]/table["Unidades económicas"]
table["Personal promedio por unidad económica"] = table["Personal ocupado total"]/table["Unidades económicas"]
table["Margen por unidad económica"] =table["Utilidad"]/table["Unidades económicas"]
table

variable                                                Personal ocupado total  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                 44509.0
                                                  2003                 58438.0
                                                  2008                 70185.0
                Construcción                      1998                  8035.0
                                                  2003                 11816.0
...                                                                        ...
Zacatecas       Servicios privados no financieros 2018                 78860.0
                Transportes                       1998                  3578.0
                                                  2003                  4032.0
                                                  2008                  3034.0
                                                  2018                  4497.0

variable                                                Total de gastos por consumo de bienes y servicios  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                                          15827.325
                                                  2003                                          29300.882
                                                  2008                                          49874.414
                Construcción                      1998                                            720.363
                                                  2003                                           2091.171
...                                                                                                   ...
Zacatecas       Servicios privados no financieros 2018                                           7849.169
                Transportes                       1998                                            305.850
                                                  2003                                            389.434
                                                  2008                                            425.035
                                                  2018                                           1211.166

variable                                                Total de ingresos por suministro de bienes y servicios  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                                          18354.521
                                                  2003                                          34761.544
                                                  2008                                          56232.536
                Construcción                      1998                                            959.439
                                                  2003                                           3354.690
...                                                                                                   ...
Zacatecas       Servicios privados no financieros 2018                                          14869.731
                Transportes                       1998                                            475.283
                                                  2003                                            888.020
                                                  2008                                            871.420
                                                  2018                                           2059.216

variable                                                Total remuneraciones  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998               725.118
                                                  2003              1641.943
                                                  2008              1968.481
                Construcción                      1998               140.918
                                                  2003               342.819
...                                                                      ...
Zacatecas       Servicios privados no financieros 2018              2696.134
                Transportes                       1998                83.567
                                                  2003               132.240
                                                  2008               193.435
                                                  2018               373.670

variable                                                Unidades económicas  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998              14981.0
                                                  2003              17038.0
                                                  2008              19425.0
                Construcción                      1998                228.0
                                                  2003                256.0
...                                                                     ...
Zacatecas       Servicios privados no financieros 2018              23419.0
                Transportes                       1998                652.0
                                                  2003               1045.0
                                                  2008                169.0
                                                  2018                218.0

variable                                                Utilidad  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998  2527.196
                                                  2003  5460.662
                                                  2008  6358.122
                Construcción                      1998   239.076
                                                  2003  1263.519
...                                                          ...
Zacatecas       Servicios privados no financieros 2018  7020.562
                Transportes                       1998   169.433
                                                  2003   498.586
                                                  2008   446.385
                                                  2018   848.050

variable                                                Ingreso por unidad económica  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                      1.225187
                                                  2003                      2.040236
                                                  2008                      2.894854
                Construcción                      1998                      4.208066
                                                  2003                     13.104258
...                                                                              ...
Zacatecas       Servicios privados no financieros 2018                      0.634943
                Transportes                       1998                      0.728962
                                                  2003                      0.849780
                                                  2008                      5.156331
                                                  2018                      9.445945

variable                                                Personal promedio por unidad económica  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                                2.971030
                                                  2003                                3.429863
                                                  2008                                3.613127
                Construcción                      1998                               35.241228
                                                  2003                               46.156250
...                                                                                        ...
Zacatecas       Servicios privados no financieros 2018                                3.367351
                Transportes                       1998                                5.487730
                                                  2003                                3.858373
                                                  2008                               17.952663
                                                  2018                               20.628440

variable                                                Margen por unidad económica
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                     0.168693
                                                  2003                     0.320499
                                                  2008                     0.327316
                Construcción                      1998                     1.048579
                                                  2003                     4.935621
...                                                                             ...
Zacatecas       Servicios privados no financieros 2018                     0.299781
                Transportes                       1998                     0.259867
                                                  2003                     0.477116
                                                  2008                     2.641331
                                                  2018                     3.890138

[1246 rows x 9 columns]

In [19]:
activity_df = table.reset_index()
activity_df = table.groupby("actividad").pct_change(periods=1)
activity_df

                                                        Personal ocupado total  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                     NaN
                                                  2003                0.312948
                                                  2008                0.201016
                Construcción                      1998                     NaN
                                                  2003                0.470566
...                                                                        ...
Zacatecas       Servicios privados no financieros 2018                0.416002
                Transportes                       1998               -0.765485
                                                  2003                0.126887
                                                  2008               -0.247520
                                                  2018                0.482202

                                                        Total de gastos por consumo de bienes y servicios  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                                                NaN
                                                  2003                                           0.851285
                                                  2008                                           0.702147
                Construcción                      1998                                                NaN
                                                  2003                                           1.902941
...                                                                                                   ...
Zacatecas       Servicios privados no financieros 2018                                           1.027894
                Transportes                       1998                                          -0.910426
                                                  2003                                           0.273284
                                                  2008                                           0.091417
                                                  2018                                           1.849568

                                                        Total de ingresos por suministro de bienes y servicios  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                                                NaN
                                                  2003                                           0.893895
                                                  2008                                           0.617665
                Construcción                      1998                                                NaN
                                                  2003                                           2.496512
...                                                                                                   ...
Zacatecas       Servicios privados no financieros 2018                                           0.913246
                Transportes                       1998                                          -0.929439
                                                  2003                                           0.868403
                                                  2008                                          -0.018693
                                                  2018                                           1.363058

                                                        Total remuneraciones  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                   NaN
                                                  2003              1.264380
                                                  2008              0.198873
                Construcción                      1998                   NaN
                                                  2003              1.432755
...                                                                      ...
Zacatecas       Servicios privados no financieros 2018              0.866201
                Transportes                       1998             -0.931855
                                                  2003              0.582443
                                                  2008              0.462757
                                                  2018              0.931760

                                                        Unidades económicas  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                  NaN
                                                  2003             0.137307
                                                  2008             0.140099
                Construcción                      1998                  NaN
                                                  2003             0.122807
...                                                                     ...
Zacatecas       Servicios privados no financieros 2018             0.317599
                Transportes                       1998             0.729443
                                                  2003             0.602761
                                                  2008            -0.838278
                                                  2018             0.289941

                                                        Utilidad  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998       NaN
                                                  2003  1.160759
                                                  2008  0.164350
                Construcción                      1998       NaN
                                                  2003  4.285010
...                                                          ...
Zacatecas       Servicios privados no financieros 2018  0.799502
                Transportes                       1998 -0.948985
                                                  2003  1.942674
                                                  2008 -0.104698
                                                  2018  0.899817

                                                        Ingreso por unidad económica  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                           NaN
                                                  2003                      0.665245
                                                  2008                      0.418882
                Construcción                      1998                           NaN
                                                  2003                      2.114081
...                                                                              ...
Zacatecas       Servicios privados no financieros 2018                      0.452070
                Transportes                       1998                     -0.959200
                                                  2003                      0.165740
                                                  2008                      5.067843
                                                  2018                      0.831912

                                                        Personal promedio por unidad económica  \
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                                     NaN
                                                  2003                                0.154436
                                                  2008                                0.053432
                Construcción                      1998                                     NaN
                                                  2003                                0.309723
...                                                                                        ...
Zacatecas       Servicios privados no financieros 2018                                0.074684
                Transportes                       1998                               -0.864398
                                                  2003                               -0.296909
                                                  2008                                3.652910
                                                  2018                                0.149046

                                                        Margen por unidad económica
desc_entidad   actividad                          año
Aguascalientes  Comercio                          1998                          NaN
                                                  2003                     0.899890
                                                  2008                     0.021271
                Construcción                      1998                          NaN
                                                  2003                     3.706962
...                                                                             ...
Zacatecas       Servicios privados no financieros 2018                     0.365743
                Transportes                       1998                    -0.970502
                                                  2003                     0.836003
                                                  2008                     4.536038
                                                  2018                     0.472794

[1246 rows x 9 columns]