In [1]:
#Dependencies
import numpy as np
import pandas as pd
import os

In [ ]:
#List to all the files

dir_list = os.listdir(os.path.join("Resources", "2019"))
try:
    dir_list.remove(".DS_Store")
except:
    print("No Need to Remove")
print(dir_list)

In [ ]:
#Creating Data Frame with a loop to entering to all the files

df = pd.read_csv(os.path.join("Resources", "2019", dir_list[0], "conjunto_de_datos", dir_list[0][4:-4]+".csv"))

s = len(df)
for folder in dir_list[1:]:
    df_aux = pd.read_csv(os.path.join("Resources", "2019", folder, "conjunto_de_datos", folder[4:-4]+".csv"))
    a = len(df_aux)
    df = pd.concat([df, df_aux])
    s += a
    print(a)

In [ ]:
#Checking data
print(len(df))
print(len(df_aux))

In [ ]:
print(s)

In [ ]:
#WRITE THE FILE TO USE IT ON THE FUTURE. IT IS SUGGESTED THAT THE CODE ABOVE ONLY RUNS ONCE.

write_path = os.path.join("Resources", "2019_data.csv")
df.to_csv(write_path)

In [3]:
#Read the previous file

data_path = os.path.join("Resources", "2019_data.csv")

data_frame = pd.read_csv(data_path, low_memory = False)

data_frame.head(10)

,Unnamed: 0,ENTIDAD,MUNICIPIO,CODIGO,ID_ESTRATO,UE,A111A,A121A,A131A,A211A,...,A256A,A433A,A434A,A436A,A529A,A534A,A747A,A748A,A752A,A764A
0,29,,,NaN,69715,126912.343,76259.219,50653.124,2934.200,2640.122,...,175.788,95.540,726078.637,8.620,31.582,282.413,529.094,115.188,45.771,NaN
1,29,,,1.0,68128,15768.124,6862.768,8905.356,399.681,352.712,...,162.546,97.690,235491.198,8.305,29.732,187.374,266.085,71.368,51.495,NaN
2,29,,,2.0,1313,10897.141,5127.869,5769.272,697.390,558.618,...,145.878,96.006,882837.978,9.185,21.740,208.340,316.956,98.156,41.750,NaN
3,29,,,3.0,205,26238.769,18272.201,7966.568,606.234,398.607,...,156.902,91.979,1591201.176,8.824,19.787,265.515,504.868,81.955,33.427,NaN
4,29,,,4.0,69,74008.309,45996.381,28011.928,1230.895,1330.185,...,206.865,96.133,1629736.378,8.533,42.269,294.864,485.770,176.200,37.511,NaN
5,29,,11,NaN,179,26.909,15.103,11.806,0.623,0.623,...,247.724,97.427,44104.575,4.963,44.784,120.704,257.206,16.013,27.124,NaN
6,29,,11,1.0,172,12.451,9.505,2.946,0.466,0.466,...,199.775,94.943,27486.842,4.963,17.316,108.950,256.897,4.824,28.728,NaN
7,29,,11,2.0,7,14.458,5.598,8.860,0.157,0.157,...,312.133,99.669,92679.487,4.962,81.656,129.607,0.000,70.001,22.436,NaN
8,29,,112,NaN,168,12.639,9.461,3.178,0.455,0.455,...,199.205,94.717,25802.083,4.847,16.400,108.310,255.388,4.647,27.917,NaN
9,29,,112,99.0,168,12.639,9.461,3.178,0.455,0.455,...,199.205,94.717,25802.083,4.847,16.400,108.310,255.388,4.647,27.917,NaN

In [ ]:
#Rename Columns