In [2]:
#Dependencies
import numpy as np
import pandas as pd
import os

In [ ]:
#List to all the files

dir_list = os.listdir(os.path.join("Resources", "2019"))
try:
    dir_list.remove(".DS_Store")
except:
    print("No Need to Remove")
print(dir_list)

In [ ]:
#Creating Data Frame with a loop to entering to all the files

df = pd.read_csv(os.path.join("Resources", "2019", dir_list[0], "conjunto_de_datos", dir_list[0][4:-4]+".csv"))

s = len(df)
for folder in dir_list[1:]:
    df_aux = pd.read_csv(os.path.join("Resources", "2019", folder, "conjunto_de_datos", folder[4:-4]+".csv"))
    a = len(df_aux)
    df = pd.concat([df, df_aux])
    s += a
    print(a)

In [ ]:
#Checking data
print(len(df))
print(len(df_aux))

In [ ]:
print(s)

In [ ]:
#WRITE THE FILE TO USE IT ON THE FUTURE. IT IS SUGGESTED THAT THE CODE ABOVE ONLY RUNS ONCE.

write_path = os.path.join("Resources", "2019_data.csv")
df.to_csv(write_path)

In [48]:
#Read the previous file

data_path = os.path.join("Resources", "2019_data.csv")

df = pd.read_csv(data_path, low_memory = False)

df.head(10)

,Unnamed: 0,ENTIDAD,MUNICIPIO,CODIGO,ID_ESTRATO,UE,A111A,A121A,A131A,A211A,...,A256A,A433A,A434A,A436A,A529A,A534A,A747A,A748A,A752A,A764A
0,29,,,NaN,69715,126912.343,76259.219,50653.124,2934.200,2640.122,...,175.788,95.540,726078.637,8.620,31.582,282.413,529.094,115.188,45.771,NaN
1,29,,,1.0,68128,15768.124,6862.768,8905.356,399.681,352.712,...,162.546,97.690,235491.198,8.305,29.732,187.374,266.085,71.368,51.495,NaN
2,29,,,2.0,1313,10897.141,5127.869,5769.272,697.390,558.618,...,145.878,96.006,882837.978,9.185,21.740,208.340,316.956,98.156,41.750,NaN
3,29,,,3.0,205,26238.769,18272.201,7966.568,606.234,398.607,...,156.902,91.979,1591201.176,8.824,19.787,265.515,504.868,81.955,33.427,NaN
4,29,,,4.0,69,74008.309,45996.381,28011.928,1230.895,1330.185,...,206.865,96.133,1629736.378,8.533,42.269,294.864,485.770,176.200,37.511,NaN
5,29,,11,NaN,179,26.909,15.103,11.806,0.623,0.623,...,247.724,97.427,44104.575,4.963,44.784,120.704,257.206,16.013,27.124,NaN
6,29,,11,1.0,172,12.451,9.505,2.946,0.466,0.466,...,199.775,94.943,27486.842,4.963,17.316,108.950,256.897,4.824,28.728,NaN
7,29,,11,2.0,7,14.458,5.598,8.860,0.157,0.157,...,312.133,99.669,92679.487,4.962,81.656,129.607,0.000,70.001,22.436,NaN
8,29,,112,NaN,168,12.639,9.461,3.178,0.455,0.455,...,199.205,94.717,25802.083,4.847,16.400,108.310,255.388,4.647,27.917,NaN
9,29,,112,99.0,168,12.639,9.461,3.178,0.455,0.455,...,199.205,94.717,25802.083,4.847,16.400,108.310,255.388,4.647,27.917,NaN

In [49]:
#Obtaining columns names and ordering them
cols = df.columns.tolist()
cols = cols[1:]
cols

['ENTIDAD',
 'MUNICIPIO',
 'CODIGO',
 'ID_ESTRATO',
 'UE',
 'A111A',
 'A121A',
 'A131A',
 'A211A',
 'A221A',
 'A511A',
 'A700A',
 'A800A',
 'H000A',
 'H000B',
 'H000C',
 'H000D',
 'H001A',
 'H001B',
 'H001C',
 'H001D',
 'H010A',
 'H010B',
 'H010C',
 'H010D',
 'H020A',
 'H020B',
 'H020C',
 'H020D',
 'H101A',
 'H101B',
 'H101C',
 'H101D',
 'H203A',
 'H203B',
 'H203C',
 'H203D',
 'I000A',
 'I000B',
 'I000C',
 'I000D',
 'I100A',
 'I100B',
 'I100C',
 'I100D',
 'I200A',
 'I200B',
 'I200C',
 'I200D',
 'J000A',
 'J010A',
 'J203A',
 'J300A',
 'J400A',
 'J500A',
 'J600A',
 'K000A',
 'K010A',
 'K020A',
 'K030A',
 'K042A',
 'K412A',
 'K050A',
 'K060A',
 'K070A',
 'K090A',
 'K096A',
 'K311A',
 'K610A',
 'K620A',
 'K810A',
 'K820A',
 'K910A',
 'K950A',
 'K976A',
 'M000A',
 'M010A',
 'M020A',
 'M030A',
 'M050A',
 'M090A',
 'M091A',
 'M700A',
 'O010A',
 'O020A',
 'P000A',
 'P000B',
 'P000C',
 'P030A',
 'P030B',
 'P030C',
 'P100A',
 'P100B',
 'Q000A',
 'Q000B',
 'Q000C',
 'Q000D',
 'Q010A',
 'Q020A',
 'Q030A',
 'Q400A',
 'Q900A',
 'A112A',
 'A113A',
 'A114A',
 'A115A',
 'A116A',
 'A117A',
 'A118A',
 'A119A',
 'A141A',
 'A143A',
 'A144A',
 'A145A',
 'A146A',
 'A147A',
 'A148A',
 'A149A',
 'A151A',
 'A152A',
 'A153A',
 'A154A',
 'A155A',
 'A156A',
 'A157A',
 'A158A',
 'A159A',
 'A171A',
 'A173A',
 'A174A',
 'A175A',
 'A176A',
 'A177A',
 'A179A',
 'A181A',
 'A182A',
 'A192A',
 'A193A',
 'A194A',
 'A195A',
 'A197A',
 'A201A',
 'A202A',
 'A204A',
 'A206A',
 'A208A',
 'A209A',
 'A212A',
 'A213A',
 'A214A',
 'A215A',
 'A216A',
 'A217A',
 'A218A',
 'A219A',
 'A222A',
 'A223A',
 'A224A',
 'A225A',
 'A226A',
 'A227A',
 'A228A',
 'A229A',
 'A231A',
 'A235A',
 'A236A',
 'A237A',
 'A238A',
 'A242A',
 'A243A',
 'A244A',
 'A245A',
 'A247A',
 'A248A',
 'A252A',
 'A253A',
 'A256A',
 'A433A',
 'A434A',
 'A436A',
 'A529A',
 'A534A',
 'A747A',
 'A748A',
 'A752A',
 'A764A']

In [50]:
#Assign correct columns names to df
df = df[cols]
df.head()

,ENTIDAD,MUNICIPIO,CODIGO,ID_ESTRATO,UE,A111A,A121A,A131A,A211A,A221A,...,A256A,A433A,A434A,A436A,A529A,A534A,A747A,A748A,A752A,A764A
0,,,NaN,69715,126912.343,76259.219,50653.124,2934.200,2640.122,14333.260,...,175.788,95.540,726078.637,8.620,31.582,282.413,529.094,115.188,45.771,NaN
1,,,1.0,68128,15768.124,6862.768,8905.356,399.681,352.712,6438.509,...,162.546,97.690,235491.198,8.305,29.732,187.374,266.085,71.368,51.495,NaN
2,,,2.0,1313,10897.141,5127.869,5769.272,697.390,558.618,3536.929,...,145.878,96.006,882837.978,9.185,21.740,208.340,316.956,98.156,41.750,NaN
3,,,3.0,205,26238.769,18272.201,7966.568,606.234,398.607,3256.092,...,156.902,91.979,1591201.176,8.824,19.787,265.515,504.868,81.955,33.427,NaN
4,,,4.0,69,74008.309,45996.381,28011.928,1230.895,1330.185,1101.730,...,206.865,96.133,1629736.378,8.533,42.269,294.864,485.770,176.200,37.511,NaN

In [51]:
#Rename Columns

df.rename(columns = {"ENTIDAD" : "CVE_ENT",
                    "UE": "Unidades_Económicas",
                    "A111A" : "Producción Bruta Total",
                    "A700A" : "Total de Gastos",
                    "A800A" : "Total de Ingresos",
                    "H000A" : "Personal contratado",
                    "J000A" : "Total de Remuneraciones",
                    "K000A" : "Total de Gastos por consumo de bienes y servicios",
                    "K020A" : "Materiales e insumos consumidos",
                    "K030A" : "Materias primas y materiales usados en la producción",
                    "K412A" : "Gasto por consumo de energía electríca",
                    "K050A" : "Renta y alquiler de bienes muebles e inmuebles",
                    "K810A" : "Gastos por publicidad",
                    "K820A" : "Gastos por servicios de comunicación",
                    "K976A" : "Gastos por consumo de agua",
                    "M000A" : "Total de ingresos por suministros de bienes y servicios",
                    "A182A" : "Remuneración media por persona remunerada",
                    "A223A" : "Participación de la venta de productos en el total de ingresos por suministro de bienes y servicios",
                    "A231A" : "Margen bruto de operación",
                    "A433A" : "Ingreso principal respecto al Gasto principal",
                    "A436A" : "Ingresos por suministro de bienes y servicios por persona ocupada",
                    }, inplace = True)

In [52]:
#Keep only the columns useful for the analysis

census_df = df[["CVE_ENT", "CODIGO", "ID_ESTRATO", "Unidades_Económicas","Producción Bruta Total", 
                "Total de Gastos", "Total de Ingresos", "Personal contratado", "Total de Remuneraciones",
                "Total de Gastos por consumo de bienes y servicios", "Materiales e insumos consumidos",
                "Materias primas y materiales usados en la producción", "Gasto por consumo de energía electríca",
                "Renta y alquiler de bienes muebles e inmuebles", "Gastos por publicidad", 
                "Gastos por servicios de comunicación", "Gastos por consumo de agua", 
                "Total de ingresos por suministros de bienes y servicios", "Remuneración media por persona remunerada",
                "Participación de la venta de productos en el total de ingresos por suministro de bienes y servicios",
                "Margen bruto de operación", "Ingreso principal respecto al Gasto principal",
                "Ingresos por suministro de bienes y servicios por persona ocupada",
]]

In [57]:
#Add a 0 on State Cods 

state_codes = list(census_df["CVE_ENT"])

state_codes = [str(state).zfill(2) for state in state_codes]

census_df["CVE_ENT"] = state_codes

/Users/dmontufar/opt/anaconda3/envs/pythonData/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [58]:
#Read File for State Names

state_path = os.path.join("Resources", "cve_ent.csv") 

state_df = pd.read_csv(state_path)

state_df

    CVE_ENT                          ENTIDAD
0         1                   Aguascalientes
1         2                  Baja California
2         3              Baja California Sur
3         4                         Campeche
4         5             Coahuila de Zaragoza
5         6                           Colima
6         7                          Chiapas
7         8                        Chihuahua
8         9                 Distrito Federal
9        10                          Durango
10       11                       Guanajuato
11       12                         Guerrero
12       13                          Hidalgo
13       14                          Jalisco
14       15                           México
15       16              Michoacán de Ocampo
16       17                          Morelos
17       18                          Nayarit
18       19                       Nuevo León
19       20                           Oaxaca
20       21                           Puebla
21       22                        Querétaro
22       23                     Quintana Roo
23       24                  San Luis Potosí
24       25                          Sinaloa
25       26                           Sonora
26       27                          Tabasco
27       28                       Tamaulipas
28       29                         Tlaxcala
29       30  Veracruz de Ignacio de la Llave
30       31                          Yucatán
31       32                        Zacatecas

In [59]:
#Add a 0 on State Cods so they can make match with the file and assign them to the State DF

state_codes = list(state_df["CVE_ENT"])

state_codes = [str(state).zfill(2) for state in state_codes]

state_df["CVE_ENT"] = state_codes

In [61]:
#Merge State Names to Census data frame

census_df = pd.merge(census_df, state_df, on = "CVE_ENT", how="left")